.teste{
     width: 400px;
     height: 400px;
     text-align: center;
     margin: 5% 0 0 35%;
     border-radius: 10px;
    background-color:#12445B;
    color: #e8e8e8;
    opacity: 1;
}
#menu{
padding:0px;
margin:0px;
background-color:#2736B3;
list-style:none;
align-items: top;
}

#menu ul li { display: inline; }

#menu ul li a {
padding: 20px 100px;
display: inline-block;
background-color: none;
color: #fff;
text-decoration: none;
border-bottom:2px solid #fff;
font-family: arial;
font-size: 12pt;
font-weight: bold;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #4682B4;
    border-bottom:3px solid #4169E1;
}

* { margin: 0; padding: 0; }

